body {
    margin: 0;
}
#graphContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#controlPanel {

}

div#edgeSlider {
    margin: 10px auto;
    display: inline-table;
}

slider.ng-hide {
    display: table-cell !important;
    visibility: hidden !important;
}

slider {
    height: 30px;
    width: 50%;
    display: table-cell;
}

span.nodeInfo.ng-hide:not(.ng-animate) {
    display: table-cell !important;
    visibility: hidden !important;
}

span.nodeInfo {
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    width: 25%;
}

slider div.bar {
    height: 5px;
}

slider div.handle {
    position: relative;
    top: -8px;
}


