<span id="controlPanel">
  <div id="nodeAdder">
    <form action="">
      <label>
        <input type="text" ng-model="nameToAdd" placeholder="username"/>
        <input type="button" value="Create User" ng-click="addNode(nameToAdd)"/>
      </label>
    </form>
  </div>

  <div id="edgeAdder">
    <form action="">
      <label>
        Gifter/Nixer:
      </label>
      <select name="" id="" ng-model="giftNode1" ng-options="node.label for node in nodes"></select>
      <label>
        Recipient:
      </label>
      <select name="" id="" ng-model="giftNode2" ng-options="node.label for node in nodes"></select>
      <input type="text" placeholder="gift/nix amount" ng-model="limit" ng-pattern="/^[-+]?[0-9]\d*(\.\d+)?$/"/>
      <input type="button" value="Gift/Nix Whuffie" ng-click="giftWhuffie(giftNode1, giftNode2, limit)"/>
    </form>
  </div>

  <div id="edgeModifier">
    <form action="">
      <label>
        Modify Edge:
      </label>

      <select name="" id="" ng-model="selectedEdge" ng-options="edge.label for edge in edges"></select>

      <table class="edgeSlider">
        <tr>
          <td class="nodeBalanceInfo" ng-show="sourceNode">
            {{sourceNode.label}}'s balance with {{targetNode.label}}: {{selectedEdge.balance}}
          </td>
          <td id="sliderCell">
            <slider
              floor="{{sliderFloor}}"
              ceiling="{{sliderCeiling}}"
              ng-model="sliderValue"
              ng-show="showSlider">
            </slider>
          </td>
          <td class="nodeBalanceInfo" ng-show="targetNode">
            {{targetNode.label}}'s balance with {{sourceNode.label}}: {{oppositeOfSelectedEdge.balance}}
        </tr>
      </table>
    </form>
  </div>

  <div id="whuffieSpender">
    <form action="">
      <label>
        Spender:
      </label>
      <select name="" id="" ng-model="spendNode1" ng-options="node.label for node in nodes"></select>
      <label>
        Recipient:
      </label>
      <select name="" id="" ng-model="spendNode2" ng-options="node.label for node in nodes"></select>
      <input type="text" placeholder="spend amount" ng-model="spendAmount" ng-pattern="/^[+]?[0-9]\d*(\.\d+)?$/"/>
      <input type="button" value="Spend Whuffie" ng-click="spendWhuffie(spendNode1, spendNode2, spendAmount)"/>
    </form>
  </div>
</div>
