<span id="controlPanel">
  <div id="nodeAdder">
    <form action="">
      <label>
        <input type="text" ng-model="nodeName" placeholder="username"/>
        <input type="button" value="Create User" ng-click="addNode(nodeName)"/>
      </label>
    </form>
  </div>

  <div id="edgeAdder">
    <form action="">
      <label>
        Gifter/Nixer:
      </label>
      <select name="" id="" ng-model="node1" ng-options="node.label for node in nodes"></select>
      Recipient:
      <select name="" id="" ng-model="node2" ng-options="node.label for node in nodes"></select>
      <input type="text" placeholder="gift/nix amount" ng-model="limit" ng-pattern="/^[-+]?[0-9]\d*(\.\d+)?$/"/>
      <input type="button" value="Gift/Nix Whuffie" ng-click="giftWhuffie(node1, node2, limit)"/>
    </form>
  </div>

  <div id="edgeModifier">
    <form action="">
      <label>
        Modify Edge:
      </label>

      <select name="" id="" ng-model="selectedEdge" ng-options="edge.label for edge in edges"></select>
      <!--<input type="button" value="Remove Edge" ng-click="deleteEdge(selectedEdge)"/>-->

      <div id="edgeSlider">
        <span class="nodeInfo" ng-show="sourceNode">
          {{sourceNode.label}}'s balance with {{targetNode.label}}: {{selectedEdge.balance}}
        </span>
        <slider
          floor="{{sliderFloor}}"
          ceiling="{{sliderCeiling}}"
          ng-model="sliderValue"
          ng-show="showSlider">
        </slider>
        <span class="nodeInfo" ng-show="targetNode">
          {{targetNode.label}}'s balance with {{sourceNode.label}}: {{oppositeOfSelectedEdge.balance}}
          <!-- | (<b>sliderValue</b>: {{sliderValue}} -->
        </span>
      </div>

    </form>
  </div>

</div>
