<div id="controlPanel">
  <div id="nodeAdder">
    <form action="">
      <label>
        <input type="text" ng-model="nodeName"/>
        <input type="button" value="Add Node" ng-click="addNode(nodeName)"/>
      </label>
    </form>
  </div>

  <div id="edgeAdder">
    <form action="">
      <label>
        <select name="" id="" ng-model="node1" ng-options="node.label for node in nodes"></select>
        <select name="" id="" ng-model="node2" ng-options="node.label for node in nodes"></select>
        <input type="text" value="Gift Amount" ng-model="limit" ng-pattern="/^\d+$/"/>
        <input type="button" value="Add Edge" ng-click="addEdge(node1, node2, limit)"/>
      </label>
    </form>
  </div>

  <div id="edgeModifier">
    <form action="">
      <label>

        <select name="" id="" ng-model="selectedEdge" ng-options="edge.label for edge in edges"></select>
        <input type="button" value="Remove Edge" ng-click="deleteEdge(selectedEdge)"/>

        <div id="edgeSlider">
          <span class="nodeInfo" ng-if="sourceNode">{{sourceNode.label}}'s Balance: {{selectedEdge.balance}}</span>
          <slider
              floor="{{sliderFloor}}"
              ceiling="{{sliderCeiling}}"
              ng-model="sliderValue"
              ng-show="selectedEdge.id"></slider>
          <span class="nodeInfo" ng-if="targetNode">{{targetNode.label}}'s Balance: {{oppositeOfSelectedEdge.balance}} | (<b>sliderValue</b>: {{sliderValue}}</span>
        </div>

      </label>
    </form>
  </div>

</div>